---
import Layout from "../layouts/Layout.astro";
---

<Layout>

    
<div id="wrapper">
	
	<div class="frame">
		<div class="illustration">
			
			<div class="cactus">
				<div class="body cactus1 jump">
					<div class="row">
					
					<div class="eye">
					<div class="eyelid"></div>

					<div class="white_part">
							<div class="brown_eye">
								<span class="black_part"></span>
							</div>
						</div>
				</div>
				
				<div class="mouth">
				<div class="lips"></div>
			
				</ul>
				</div>
				
				
				<div class="thorn top-left color1"></div>
				<div class="thorn color1" style="left:40px; top:-10px; transform: rotate(20deg);"></div>
				<div class="thorn color1" style="left:30px; top:-4px; transform: rotate(-30deg);"></div>
				<div class="thorn color1" style="left:8px; top:6px; transform: rotate(-20deg);"></div>
				<div class="thorn color1" style="left:-12px; top:46px; transform: rotate(-90deg);"></div>
				<div class="thorn color1" style="left:-12px; top:90px; transform: rotate(-70deg);"></div>
				<div class="thorn color1" style="left:-10px; top:130px; transform: rotate(-100deg);"></div>
				<div class="thorn color1" style="left:-14px; top:150px; transform: rotate(-80deg);"></div>
				
				
				<div class="thorn top-right color2"></div>				
				<div class="thorn color2" style="left:68px; top:-12px; transform: rotate(6deg);"></div>
				<div class="thorn color2" style="left:80px; top:-6px; transform: rotate(26deg);"></div>
				<div class="thorn color2" style="left:108px; top:16px; transform: rotate(16deg);"></div>
				<div class="thorn color2" style="left:126px; top:68px; transform: rotate(90deg);"></div>
				<div class="thorn color2" style="left:126px; top:108px; transform: rotate(56deg);"></div>
				<div class="thorn color2" style="left:124px; top:170px; transform: rotate(102deg);"></div>
				<div class="thorn color2" style="left:125px; top:206px; transform: rotate(80deg);"></div>
				
					
					</div>
				</div>
				<div class="body cactus2">
					<div class="row">
					
					
					<div class="thorn color1" style="left:-4px; top:4px; transform: rotate(-45deg);"></div>
					<div class="thorn color1" style="left:-16px; top:34px; transform: rotate(-100deg);"></div>
					
					
					<div class="thorn color2" style="left:40px; top:-6px; transform: rotate(10deg);"></div>
					<div class="thorn color2" style="left:62px; top:10px; transform: rotate(70deg);"></div>
					<div class="thorn color2" style="left:64px; top:22px; transform: rotate(110deg);"></div>
					<div class="thorn color2" style="left:64px; top:40px; transform: rotate(100deg);"></div>
					
					</div>
				</div>
				<div class="body cactus3 jump">
					<div class="row">
					
					
					<div class="thorn color1" style="left:11px; top:-8px; transform: rotate(-6deg);"></div>
					<div class="thorn color1" style="left:-8px; top:10px; transform: rotate(-38deg);"></div>
					<div class="thorn color1" style="left:-10px; top:34px; transform: rotate(-60deg);"></div>
					<div class="thorn color1" style="left:-11px; top:64px; transform: rotate(-100deg);"></div>
					<div class="thorn color1" style="left:-10px; top:110px; transform: rotate(-70deg);"></div>
					<div class="thorn color1" style="left:-12px; top:140px; transform: rotate(-70deg);"></div>
					
					
					<div class="thorn color3" style="left:40px; top:0px; transform: rotate(10deg);"></div>					
					<div class="thorn color3" style="left:52px; top:50px; transform: rotate(60deg);"></div>
					<div class="thorn color3" style="left:54px; top:105px; transform: rotate(90deg);"></div>
					
					<div class="arm-form"></div>
					<div class="arm"></div>
					
					
					
					</div>
				</div>
			</div>
			
			<div class="pot">				
				<div class="pot-border">
				<div class="line-decor"></div>
				<div class="line-decor min"></div>
				</div>
				
				<div class="filled">			
				
				<ul class="decor-min clear">
				<li><span class="square-min"></span></li>
				<li><span class="square-min"></span></li>
				<li class="last"><span class="square-min"></span></li>
				</ul>
				
				<ul class="frame-decor clear">
				<li><span class="square-min"></span></li>
				<li><span class="square-min"></span></li>
				<li><span class="square-min"></span></li>
				<li class="last"><span class="square-min"></span></li>
				</ul>
				
				<div class="border-bottom"></div>
				</div>
				
				<div class="pot-shadow"></div>
				
				
				
			</div>
			
		</div>
	</div>
	
	
</div>




</Layout>


<style>


*, *:after, *:before {	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clear:after {
	clear: both;
	content: "";
	display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-collapse: separate;
	border-spacing: 0px;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	text-decoration: none;
}

html, body {
	width:100%;
	height:100%;
}
html {
	display:table;
}
body {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
		
	min-width: 320px;
	zoom: 1;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	background-color: #eff2cc;
}
#wrapper {
	width:100%;
	max-width:800px;
	height:600px;
	margin:auto;		
}
.frame, .row {
	width: 100%;
	height:100%;
	float: left;
	position:relative;
}
.frame {
	background: #f3f4e4;
	background: -moz-radial-gradient(center, ellipse cover, #f3f4e4 0%, #eff2cc 70%);
	background: -webkit-radial-gradient(center, ellipse cover, #f3f4e4 0%,#eff2cc 70%);
	background: radial-gradient(ellipse at center, #f3f4e4 0%,#eff2cc 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4e4', endColorstr='#eff2cc',GradientType=1 );
}

.illustration {
	width:280px;
	position:absolute;
	margin-top:40px;
	left:50%;
	margin-left:-140px;
}
.box {
	width:100%;
	height:500px;
	float:left;
}

.cactus {
	width:100%;
	height:310px;
	position:relative;
	z-index:100;
	float:left;
	margin-left:-16px;
}
.jump {
  -webkit-animation: jump 4s infinite;
  animation: jump 4s infinite;
}

@-webkit-keyframes jump {
  10%, 30% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: rotateX(4deg);
    transform: rotateX(4deg);
	-webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  45%, 100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes jump {
  10%, 30% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: rotateX(4deg);
    transform: rotateX(4deg);
	-webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  45%, 100% {
    -webkit-transform: none;
    transform: none;
  }
}

.cactus1 {
	width:140px;
	height:320px;
	float:left;
	margin-left:71px;
	position:relative;
	z-index:200;
	
	background-color:#84a841;
	background: #84a841;
	background: -moz-linear-gradient(left, #84a841 50%, #92b64c 51%);
	background: -webkit-linear-gradient(left, #84a841 50%,#92b64c 51%);
	background: linear-gradient(to right, #84a841 50%,#92b64c 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84a841', endColorstr='#92b64c',GradientType=1 );
	
	-webkit-border-radius:70px 70px 0 0;
	-moz-border-radius:70px 70px 0 0;
	-o-webkit-border-radius:70px 70px 0 0;
	-ms-webkit-border-radius:70px 70px 0 0;
	border-radius:70px 70px 0 0;
	-khtml-border-radius:70px 70px 0 0;
}
.cactus2, .cactus3 {
	position:absolute;
}
.cactus2 {
	width:80px;
	height:80px;
	top:240px;
	right:15px;
	z-index:300;
	
	-webkit-box-shadow: -2px 0 1px 0 rgba(0,0,0,0.1);
	box-shadow: -2px 0 1px 0 rgba(0,0,0,0.1);
	
	background: #87a846;
	background: -moz-linear-gradient(left, #87a846 50%, #92b64c 51%);
	background: -webkit-linear-gradient(left, #87a846 50%,#92b64c 51%);
	background: linear-gradient(to right, #87a846 50%,#92b64c 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87a846', endColorstr='#92b64c',GradientType=1 );
	
	-webkit-border-radius:40px 40px 0 0;
	-moz-border-radius:40px 40px 0 0;
	-o-webkit-border-radius:40px 40px 0 0;
	-ms-webkit-border-radius:40px 40px 0 0;
	border-radius:40px 40px 0 0;
	-khtml-border-radius:40px 40px 0 0;
}
.cactus3 {	
	width:70px;
	height:135px;
	top:64px;
	left:-18px;
	z-index:100;
	
	-webkit-border-radius:35px 35px 0 0;
	-moz-border-radius:35px 35px 0 0;
	-o-webkit-border-radius:35px 35px 0 0;
	-ms-webkit-border-radius:35px 35px 0 0;
	border-radius:35px 35px 0 0;
	-khtml-border-radius:35px 35px 0 0;
	
	background: #84a841;
	background: -moz-linear-gradient(left, #84a841 50%, #91b154 51%);
	background: -webkit-linear-gradient(left, #84a841 50%,#91b154 51%);
	background: linear-gradient(to right,#84a841 50%,#91b154 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84a841', endColorstr='#91b154',GradientType=1 );
}
.cactus3 .arm {
	width:140px;
	height:80px;
	position:absolute;
	bottom:-54px;
	left:0;
	z-index:100;
	
	background: #84a841;
	background: -moz-linear-gradient(left, #84a841 35px, #91b154 36px);
	background: -webkit-linear-gradient(left, #84a841 35px,#91b154 36px);
	background: linear-gradient(to right,#84a841 35px,#91b154 36px);
	
	-webkit-border-radius:0 0 50% 44%;
	-moz-border-radius:0 0 50% 44%;
	-o-webkit-border-radius:0 0 50% 44%;
	-ms-webkit-border-radius:0 0 50% 44%;
	border-radius:0 0 50% 44%;
	-khtml-border-radius:0 0 50% 44%;
}
.cactus3 .arm-form {
	width:44px;
	height:30px;
	right:-44px;
	position:absolute;
	bottom:2px;
	z-index:200;
	background-color:#f2f4d5;
	
	-webkit-border-radius:0 0 50% 50%;
	-moz-border-radius:0 0 50% 50%;
	-o-webkit-border-radius:0 0 50% 50%;
	-ms-webkit-border-radius:0 0 50% 50%;
	border-radius:0 0 50% 50%;
	-khtml-border-radius:0 0 50% 50%;
}





.thorn {
	width: 0;
	height: 0;
	position:absolute;
	z-index:300;
	content: "";
	border-bottom: 24px solid;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
}
.thorn.top-left {
	left: 54px;
	top: -20px;	
	border-left: 16px solid transparent;
	border-right: 0 solid transparent;
}
.thorn.top-right {
	left: 70px;
	top: -20px;	
	border-left: 0 solid transparent;
	border-right: 16px solid transparent;
}
.thorn.color1 {
	border-bottom-color:#84a841;
}
.thorn.color2 {
	border-bottom-color:#92b64c;
}
.thorn.color3 {
	border-bottom-color:#91B154;
}
.thorn.r20deg {
}


.pot {
	width:100%;
	height:190px;
	float:left;
	position:relative;
	z-index:300;
	margin-top:-10px;
}
.pot-border {
	width:250px;
	height:40px;
	position:relative;
	float:left;
	margin:0 15px;
	
	background: #a6552e;
	background: -moz-linear-gradient(left, #a6552e 50%, #ba6535 51%);
	background: -webkit-linear-gradient(left, #a6552e 50%,#ba6535 51%);
	background: linear-gradient(to right, #a6552e 50%,#ba6535 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6552e', endColorstr='#ba6535',GradientType=1 );
}
.pot-shadow {
	width:240px;
	height:44px;
	position:absolute;
	z-index:10;
	bottom: -24px;
	left: 14px;
	background-color: rgba(0, 0, 0, 0.2);
	
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-webkit-border-radius:50%;
	-ms-webkit-border-radius:50%;
	border-radius:50%;
	-khtml-border-radius:50%;
}
.pot-border:before, .pot-border:after {
	width: 0;
	height: 0;
	position:absolute;
	content: "";	
	border-top: 40px solid;
	top:0;
}
.pot-border:after {	
	right:-15px;
	border-top-color:#ba6535;
	border-right: 15px solid transparent;
}
.pot-border:before {
	left:-15px;
	border-top-color:#a6552e;
	border-left: 15px solid transparent;	
}
.pot-border .line-decor {	
	width:94%;
	height:5px;
	float:left;
	margin-left:3%;
	margin-top:12px;
	background-color: rgba(0, 0, 0, 0.20);
		
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-webkit-border-radius:2px;
	-ms-webkit-border-radius:2px;
	border-radius:2px;
	-khtml-border-radius:2px;
}
.pot-border .line-decor.min {
	width:74%;
	margin-top:8px;
	margin-left:13%;
}
.filled {
	width:200px;
	height:150px;
	float:left;
	position:relative;
	z-index:100;
	margin:0 40px;
	
	background: #a6552e;
	background: -moz-linear-gradient(left, #d27d45 50%, #d4834b 51%);
	background: -webkit-linear-gradient(left, #d27d45 50%,#d4834b 51%);
	background: linear-gradient(to right, #d27d45 50%,#d4834b 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d27d45', endColorstr='#d4834b',GradientType=1 );
}
.filled .border-bottom {
	width:100%;
	height:40px;
	bottom:-20px;
	position:absolute;
	
	background: #a6552e;
	background: -moz-linear-gradient(left, #d27d45 50%, #d4834b 51%);
	background: -webkit-linear-gradient(left, #d27d45 50%,#d4834b 51%);
	background: linear-gradient(to right, #d27d45 50%,#d4834b 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d27d45', endColorstr='#d4834b',GradientType=1 );
	
	
	-webkit-border-radius:0 0 50% 50%;
	-moz-border-radius:0 0 50% 50%;
	-o-webkit-border-radius:0 0 50% 50%;
	-ms-webkit-border-radius:0 0 50% 50%;
	border-radius:0 0 50% 50%;
	-khtml-border-radius:0 0 50% 50%;
}
.filled:before, .filled:after {
	width: 0;
	height: 0;
	position:absolute;
	content: "";
	border-top: 150px solid;
	top:0;
}
.filled:after {	
	right:-20px;
	border-top-color:#d4834b;
	border-right: 20px solid transparent;
}
.filled:before {
	left:-20px;
	border-top-color:#d27d45;
	border-left: 20px solid transparent;
}
ul.frame-decor {
	list-style:none;
	margin-top:66px;
	display:inline-block;
}
ul.frame-decor li {
	width:38px;
	height:38px;
	float:left;
	margin-right:6px;
	border:4px solid #bc6635;	
	transform: rotate(45deg);
	
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-webkit-border-radius:6px;
	-ms-webkit-border-radius:6px;
	border-radius:6px;
	-khtml-border-radius:6px;
}
span.square-min {
	width:12px;
	height:12px;
	margin:9px;
	float:left;
	background-color:#bc6635;
}
ul.decor-min {
	list-style:none;
	margin-top:38px;
	left:50%;
	margin-left:-58px;
	position:absolute;
}
ul.decor-min li {
	width:28px;
	height:28px;
	float:left;
	margin-right:16px;
	border:4px solid #bc6635;	
	transform: rotate(45deg);
	
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-webkit-border-radius:6px;
	-ms-webkit-border-radius:6px;
	border-radius:6px;
	-khtml-border-radius:6px;
}
ul.decor-min span.square-min {
	width:8px;
	height:8px;
	margin:6px;
}
    
</style>