---
import Layout from "../layouts/Layout.astro";
const PETAL_COUNT = 20;
import PageHeader from "../components/sudev.astro";
---

<PageHeader
  title="Lorem"
  subtitle="Ipsum"
/>

<Layout>


  <div class="codedoodle-block">

    <!-- SVG symbol -->
    <svg width="0" height="0">
      <symbol id="petal" height="98" width="85">
        <path d="M42.501,11.25c0,0-2.75-14.5-17.75-6.75S2.501,44.25,3.251,53s11.75,22.75,13.75,27
        s21,15.75,26,15.75S65.751,82,69.251,77.5s8.25-13.5,7.5-19.25c1.75-8.75,7.5-18.75-0.25-32.25c-8.25-9-10.5-11.25-11.75-14.25
        s-13-6.75-16-6.75S42.251,8.25,42.501,11.25z"/>
      </symbol>
    </svg>

    <div class="flower">
      <h1 id="flower-text">Burada pek bir şey yok... En azından yapraklar var :)</h1>

      {Array.from({ length: PETAL_COUNT }).map((_, i) => (
        <svg class="petal" style={`--i:${i}`}>
          <use href="#petal" />
        </svg>
      ))}
    </div>

  </div>
</Layout>


<style>
/* Code Block styles */

body {
	background-color: black;
}

h1 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: pink;

}

        div.codedoodle-block {
            margin: 3rem auto;
            width: auto;
            max-width:300px;
            height: 300px;
            background-color: transparent;
            border-radius: 50%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            perspective: 700px;
            background-repeat: no-repeat;
            background-clip: border-box;
        }

        @keyframes rotate {
            from{transform: translateY(-300%) translateX(-5%) rotate3d(-.5,.1, -.55,0deg);}
            to{transform: translateY(150%) translateX(5%) rotate3d(.25,0,.45,100deg);}
        }

        @keyframes rotatetwo {
            from{transform: translateY(-170%) translateX(-20%) rotate3d(1.25,0,-.25,0deg);}
            to{transform: translateY(150%) translateX(20%) rotate3d(.25,0,.75,100deg);}
        }

        @keyframes rotatethree {
            from{transform: translateY(-240%) translateX(0%) rotate3d(-.25,0,1.25,270deg);}
            to{transform: translateY(150%) translateX(-150%) rotate3d(.25,0,-.25,100deg);}
        }
        
        @keyframes rotatefour {
            from{transform: translateY(-250%) translateX(0%) rotate3d(.25,0,.75,240deg);}
            to{transform: translateY(150%) translateX(-30%) rotate3d(.25,0,.95,100deg);}
        }
                
        @keyframes rotatefive {
            from{transform: translateY(-200%) translateX(0%) rotate3d(.25,0,1.25,-70deg);}
            to{transform: translateY(150%) translateX(30%) rotate3d(.25,0,.32,100deg);}
        }
                
        @keyframes longfade {
            from{opacity: 1;}
            to{opacity: 0;}
        }

        .flower {
            height: 100%;
            width: 100%;
            background-color: rgba(253, 56, 89, 0.0125);
            position: relative;
            
        }

        .petal {
            display: block;
            position: absolute;
            max-width: 85px;
            max-height: 98px;
            top: 44px;
            left: 107.5px;
            -webkit-transform-origin: center 110%;
            transform-origin: center 110%;
            fill:rgba(255, 192, 202, 0.9);
            animation: rotate 8s ease-out 0s 1 normal forwards, longfade 13s ease-out 0s 1 normal forwards;
            transition: all 1s ease-out;
        }
        
        .petal:hover, .petal:focus, .petal:active {
            fill:rgba(255, 92, 119, 0.9);
            stroke: rgba(255, 92, 110, 1);
        }

        .petal:nth-of-type(1) {
            animation-name: rotate, longfade;
        }

        .petal:nth-of-type(2) {
            animation-name: rotatetwo, longfade;
        }
        
        .petal:nth-of-type(3) {
            animation-name: rotatethree, longfade;
}

        .petal:nth-of-type(4) {
                    animation-name: rotatefour, longfade;
        }

        .petal:nth-of-type(5) {
                    animation-name: rotatefive, longfade;
        }

      
</style>


<script lang="ts">
  const petals = document.querySelectorAll('.petal');
  const text = document.getElementById('flower-text');

  let fadedPetals = 0;

  petals.forEach(petal => {
    petal.addEventListener('animationend', (e) => {
      if (e.animationName === 'longfade') {
        fadedPetals++;

        if (fadedPetals === petals.length && text) {
          text.textContent = "Tüh... Artık onlar da yok :(";
        }
      }
    });
  });
</script>


